.light {
  background-color: white;
  color: black;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.dark {
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 22px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
}

button svg {
  font-size: 26px;
}
.toggle-icon {
    font-size: 35px;
    margin-left: 15px;
  }