/* full Chat Container */
.chat-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #f0f2f5;
  }
  
  /* Sidebar */
  .sidebar {
    width: 280px;
    background-color: #f5f5f5;
    color:  #2c3e50;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: 0.3s ease;
  }
  
  .sidebar button {
    text-align: left;
    background: none;
    border: none;
    color: #2c3e50;
    font-size: 24px;
    cursor: pointer;
  }

  .sidebar button:hover{
    color: rgb(58, 58, 178);
  }

  
.sidebar.collapsed {
  width:30px; 
}
  
.sidebar ul {
  font-weight: 600;
  list-style: none;
  padding: 17px;
  margin-top: 280px;
  width: 200px;
  margin-left: -45px;

}
  
.sidebar ul li {
  margin: 40px;
  cursor: pointer;
  
}

.sidebar ul li:hover {
  color: rgb(58, 58, 178);
  background-color:rgb(220, 219, 219) ;
  border-radius: 20px;
  
}

  

.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
}
  
 /* Header */
 .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 15px;
  font-size: 20px;
}
  
.login-icon {
  font-size: 24px;
  cursor: pointer;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.message {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.message.user {
  align-self: flex-end;
  background: #007bff;
  color: white;
}
  
.message.bot {
  align-self: flex-start;
  background: #f1f1f1;
}
  

 /* Input Box */
 .input-box {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #eee;
  position: sticky;
  bottom: 0;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}


.input-box button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.mic-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}nbc