/* .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6;
    text-align: center;
    opacity: 1;
    animation:  fadeIn 0.9s ease-in-out forword;
  }

  @keyframes fadeIn{
    from{
        opacity: 1;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(1);
    }
  } */


  

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.9s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

  
  .welcome-title {
    font-size: 3.5rem;
    font-weight:500;
    color: black;
    

  }


  .welcome-title span{
    font-weight:500;

  }

  .welcome-title .ge{
    color:#037df7  ;
  }

  .welcome-title .ini{
    color: #ff6a74;
  }
  
  .welcome-title .text-m {
    background: linear-gradient(to right top,#037df7 30%, #ff6a74 50%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  }

  .welcome-text {
    font-size: 1.9rem;
    margin-top: 10px;
    
  }
  
  .welcome-instruction {
    font-size: 1.6rem;
    margin-top: 5px;
    color: #555;
    
  }
  
  .button-group {
    margin-top: 20px;
   
  }

  
  .signIn, .login {
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 5px;
    background-color: #10b981;
    transition: transform 0.3s ease-in-out;
  }
  

.signIn:hover,
.login:hover {
  transform: scale(1.1);
}
